services:
  # PostgreSQL database
  db:
    image: postgres:latest
    ports:
      - "5433:5432"
    restart: always
    environment:
      POSTGRES_PASSWORD: changeinprod!

# Command to access postgres shell in local terminal: psql -h localhost -p 5433 -U postgres